html, body {
  padding: 0;
  margin: 0; }

/* CONTAINER */
.edu-content .container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 25px 20px; }
  .edu-content .container * {
    text-align: center; }
    @media screen and (min-width: 645px) {
      .edu-content .container * {
        text-align: left; } }
.edu-content h1, .edu-content h2, .edu-content ul, .edu-content p {
  padding: 0;
  margin: 0; }
.edu-content h2 {
  color: #919da3;
  font-size: 2em;
  text-transform: capitalize; }
.edu-content img {
  width: 100%; }

/* TITLE */
.edu-title {
  background: url("http://a67c409ec4c23de6e37e-f30b3fd07d86eb9a585724b2d7d45cae.r90.cf1.rackcdn.com/EU/euEducation/Course_landingPage_banner.png") no-repeat top center;
  background-size: cover;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase; }
  .edu-title h1 {
    font-size: 50px;
    padding: 50px 0;
    text-align: center; }

/* ABOUT */
.edu-about {
  background-color: #666666;
  border-top: 1px solid #5d5d5d;
  border-bottom: 1px solid #fff;
  color: #fff; }
  .edu-about h2 {
    margin: 0 0 15px; }

/* SCHEDULE */
.edu-schedule {
  background-color: #e3e3e3; }
  .edu-schedule .course-info {
    margin: 0 0 20px; }
    .edu-schedule .course-info h2 {
      margin: 0 0 5px; }
    .edu-schedule .course-info p {
      color: #666666;
      font-weight: bold;
      text-transform: capitalize; }
      .edu-schedule .course-info p span {
        font-weight: normal; }
  .edu-schedule .course-dates .course {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #666666;
    display: inline-block;
    font-weight: bold;
    margin: 10px 10px 10px 0;
    padding: 10px 10px 15px;
    text-align: center;
    text-transform: capitalize;
    width: 250px; }
    .edu-schedule .course-dates .course img {
      border-radius: 4px; }
    .edu-schedule .course-dates .course p {
      margin: 10px 0 0; }
    .edu-schedule .course-dates .course .btn {
      background-color: #c6c6c6;
      border-radius: 4px;
      color: #666666;
      display: inline-block;
      margin: 20px auto 0;
      padding: 10px 20px;
      text-decoration: none;
      text-transform: uppercase; }
      .edu-schedule .course-dates .course .btn:hover {
        background-color: #f28e1e;
        color: #fff; }

/* FEE & CREDITS */
.edu-fee {
  background-color: #666666;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #585858; }
  .edu-fee h2 {
    display: inline-block;
    margin: 0 0 5px; }
  .edu-fee p {
    color: #919da3;
    font-size: 1.5em;
    margin: 0 0 20px;
    text-transform: uppercase; }
    @media screen and (min-width: 645px) {
      .edu-fee p {
        display: inline-block;
        margin: 0 0 0 15px; } }
  .edu-fee .right-info {
    display: block; }
    @media screen and (min-width: 768px) {
      .edu-fee .right-info {
        float: right; } }

/* SPEAKER(S) */
.edu-speaker {
  background-color: #e3e3e3; }
  .edu-speaker .speaker {
    padding: 20px 0; }
  .edu-speaker .speaker-image {
    max-width: 200px;
    margin: 20px auto; }
    @media screen and (min-width: 645px) {
      .edu-speaker .speaker-image {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 20px 25px 0 0; } }
  @media screen and (min-width: 645px) {
    .edu-speaker .speaker-info {
      display: inline-block;
      width: 60%;
      margin: 50px 0 0; } }
  .edu-speaker .speaker-info .speaker-name {
    font-weight: bold; }
  .edu-speaker .speaker-info ul {
    text-align: left;
    list-style: none;
    margin: 20px auto 0;
    max-width: 400px; }
    @media screen and (min-width: 645px) {
      .edu-speaker .speaker-info ul {
        max-width: none; } }
    .edu-speaker .speaker-info ul li {
      margin: 10px 0 10px 10px;
      text-indent: -10px;
      line-height: 18px;
      text-align: left; }
      .edu-speaker .speaker-info ul li:before {
        content: "- "; }
